**Tuple**
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

**Example**
Create a Tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

**Tuple Items**

Tuple items are ordered, unchangeable, and allow duplicate values.


Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

**Unchangeable**

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

**Allow Duplicates**

Since tuples are indexed, they can have items with the same value:

**Example**
Tuples allow duplicate values:

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

**Difference between tuples and lists**

**Tuples are immutable(not changeable)...whearas lists they are mutable(changable).**

In [ ]:
l=["apple","banana","cherry"]
t=("apple","banana","cherry")

l[1]="mango"
print(l)

t[1]="mango"
print(t)

['apple', 'mango', 'cherry']

TypeError: ignored

**Tuple Length**

To determine how many items a tuple has, use the len() function:

**Example**

Print the number of items in the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

**Create Tuple With One Item**
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

**Example**

One item tuple, remember the comma:

In [ ]:
l1=["ramya"]
print(type(l1))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

# intializing tuple with one item
thistuple = ("apple",)
print(type(thistuple))

l2=["ramya","bhargavi"]
print(type(l2))

t2=("apple","banana")
print(type(t2))

<class 'list'>
<class 'str'>
<class 'tuple'>
<class 'list'>
<class 'tuple'>

**Tuple Items - Data Types**
Tuple items can be of any data type:

**Example**
String, int and boolean data types:

In [ ]:
tuple1 = ("apple", "banana", "cherry") # tuple1 is of tuple data type and it contains the values which are of string data type
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

A tuple can contain different data types:

**Example**
A tuple with strings, integers and boolean values:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

**type()**

From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>
**Example**

What is the data type of a tuple?

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type("apple"))
print(type(mytuple))

<class 'str'>
<class 'tuple'>

**The tuple() Constructor**
It is also possible to use the tuple() constructor to make a tuple.

**Example**
Using the tuple() method to make a tuple:

In [ ]:
thistuple = tuple(("apple", "banana", "cherry","cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry', 'cherry')

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

**Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets:

Example
Print the second item in the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

**Negative Indexing**
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

Example
Print the last item of the tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-3])

apple

**Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

**Example**

This example returns the items from the beginning to, but NOT included, "kiwi":

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:5])

('apple', 'banana', 'cherry', 'orange', 'kiwi')

By leaving out the end value, the range will go on to the end of the list:

**Example**
This example returns the items from "cherry" and to the end:

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[4:])

('kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:])

('orange', 'kiwi', 'melon', 'mango')

**Python - Update Tuples**

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

**Change Tuple Values**

Once a tuple is created.
But there is a workaround. 


since the tuple is immutable,  directly you cannot change its values.

so You can convert the tuple first into a list, then change the list elements, and convert the list back into a tuple.

**Example**
Convert the tuple into a list to be able to change it:

In [ ]:
x = ("apple", "banana", "cherry")

#x[1] = "kiwi"

print(x)
y = list(x)


print(type(y))
print(y)

y[1] = "kiwi"
print(y)

x = tuple(y)
print(x)

('apple', 'banana', 'cherry')
<class 'list'>
['apple', 'banana', 'cherry']
['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')

**Add Items**

Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

**Example**

Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")

#thistuple.append("orange")
y = list(thistuple)
y.append("orange")

thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

**Example**

Create a new tuple with the value "orange", and add that tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)

thistuple += y   #thistuple= thistuple + y

print(thistuple)

l=["ramya","bhargavi"]
thistuple = thistuple+l
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

TypeError: ignored

**Remove Items**
Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

**Example**

Convert the tuple into a list, remove "apple", and convert it back into a tuple:

In [ ]:
thistuple = ("apple", "banana", "cherry")

#convert tuple into list
y = list(thistuple)
y.remove("apple")

print(y)

#after removing the element convert the list back into tuple
thistuple = tuple(y)

print(thistuple)

['banana', 'cherry']
('banana', 'cherry')

Or you can delete the tuple completely:

**Example**

The del keyword can delete the tuple completely:

for the lists: we can have both clear method and the del keyword

In [ ]:
l=["ramya","bhargavi"]
l.clear()
print(l)

thistuple = ["apple", "banana", "cherry"]

#del thistuple
del thistuple
print(thistuple)

[]

NameError: ignored

but for tuple we do not have clear method we only have the del keyword.

In [ ]:
l=("ramya","bhargavi")
l.clear() # this will give you error
print(l)

AttributeError: ignored

In [ ]:
thistuple = ("apple", "banana", "cherry")

#del thistuple
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

**Unpacking a Tuple**

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

**Example**
Packing a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

**Example**
Unpacking a tuple:

In [ ]:
fruits = ("apple", "banana", "cherry")

[green, yellow, red] = fruits

print(green)
print(yellow)
print(red)

l=["ramya","ramu"]
[female,male]=l
print(male)
print(female)

apple
banana
cherry
ramu
ramya

**Using Asterisk**

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

**Example**
Assign the rest of the values as a list called "red":

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

print(type(red))

apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'list'>

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

**Example**

Add a list of values the "tropic" variable:

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple","mango", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple', 'mango']
cherry

**Loop Through a Tuple**

You can loop through the tuple items by using a for loop.

**Example**

Iterate through the items and print the values:

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Join Two Tuples**

To join two or more tuples you can use the + operator:

**Example**

Join two tuples:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

**Example**

Multiply the fruits tuple by 2:

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

l1=["ramya","bhargavi"]
new=l1*2
print(new)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
['ramya', 'bhargavi', 'ramya', 'bhargavi']

**Tuple Methods**

Python has two built-in methods that you can use on tuples.

**Method	Description**

count()	Returns the number of times a specified value occurs in a tuple

index()	Searches the tuple for a specified value and returns the position of where it was found