**Set**

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items. 

Sets are written with curly brackets.

Example
Create a Set:

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

**Set Items**
Set items are unordered, unchangeable, and do not allow duplicate values.

**Unordered**
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

**Duplicates Not Allowed**
Sets cannot have two items with the same value.

**Example**
Duplicate values will be ignored:

In [2]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

**Example**
True and 1 is considered the same value:

In [6]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

thisset = {"apple", "banana", "cherry", True,1+0j, 2}

print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}
{True, 2, 'banana', 'cherry', 'apple'}

**Get the Length of a Set**
To determine how many items a set has, use the len() function.

**Example**
Get the number of items in a set:

In [7]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

**Set Items - Data Types**
Set items can be of any data type:

**Example**
String, int and boolean data types:

In [8]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

A set can contain different data types:

**Example**
A set with strings, integers and boolean values:

In [9]:
set1 = {"abc", 34, True, 40, "male"}

**type()**

From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>
**Example**

What is the data type of a set?

In [10]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

**The set() Constructor**
It is also possible to use the set() constructor to make a set.

**Example**
Using the set() constructor to make a set:

In [12]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
print(type(thisset))

thisset[0]

{'cherry', 'banana', 'apple'}
<class 'set'>

TypeError: ignored

**Access Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

**Example**

Loop through the set, and print the values:

In [14]:
fruits = {"apple", "banana", "cherry"}

for i in fruits:
  print(i)

cherry
banana
apple

***Example***
Check if "banana" is present in the set:

In [16]:
thisset = {"apple", "banana", "cherry"}

print("revathi" in thisset)

False

**Change Items**

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

**Example**

Add an item to a set, using the add() method:

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

thisset.append("orange") # append will throw an error

{'cherry', 'banana', 'orange', 'apple'}

AttributeError: ignored

**Add Sets**
To add items from another set into the current set, use the update() method.

**Example**
Add elements from tropical into thisset:

In [21]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)
#new_list= thisset+tropical   # conatenation opertaor wont work 
#print(new_list)

{'pineapple', 'mango', 'banana', 'papaya', 'cherry', 'apple'}

**Add Any Iterable**

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

**Example**

Add elements of a list to at set:

In [25]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)


mytuple = ("ramya", "revathi")
thisset.update(mytuple)

print(thisset)

{'kiwi', 'banana', 'orange', 'cherry', 'apple'}
{'kiwi', 'banana', 'revathi', 'orange', 'ramya', 'cherry', 'apple'}

**Remove Item**

To remove an item in a set, use the remove(), or the discard() method.

**Example**

Remove "banana" by using the remove() method:

In [27]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
thisset.remove("mango")

{'cherry', 'apple'}

KeyError: ignored

Note: If the item to remove does not exist, remove() will raise an error.

**Example**

Remove "banana" by using the discard() method:

In [29]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
thisset.discard("mango")

{'cherry', 'apple'}

**Note: If the item to remove does not exist, discard() will NOT raise an error.**

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

Example

Remove a random item by using the pop() method:

In [30]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)
print(thisset)

cherry
{'banana', 'apple'}

Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

**Example**
The clear() method empties the set:

In [32]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

**Example**

The del keyword will delete the set completely:

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

thisset1 = {"apple", "banana", "cherry"}
print(thisset1)

print(thisset)

{'banana', 'apple', 'cherry'}

NameError: ignored

**Join Two Sets**

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

**Example**

The union() method returns a new set with all items from both sets:

In [33]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,"b"}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

**Example**

The update() method inserts the items in set2 into set1:

In [34]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

**Note: Both union() and update() will exclude any duplicate items.**

**Keep ONLY the Duplicates**

The intersection_update() method will keep only the items that are present in both sets.

**Example**

Keep the items that exist in both set x, and set y:

The intersection_update() method updates the set by keeping only common elements found in either set. 

If you don't want to update the original set, use intersection() method.

In [49]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft","cherry","banana"}

x.intersection_update(y)
z=x.intersection_update(y)
print(x)
print(z)

{'cherry', 'banana'}
None

The intersection() method will return a new set, that only contains the items that are present in both sets.

**Example**
Return a set that contains the items that exist in both set x, and set y:

In [50]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft","cherry","banana"}

z = x.intersection(y)

print(x)
print(z)

{'cherry', 'banana', 'apple'}
{'cherry', 'banana'}

The symmetric_difference_update() method updates the set by keeping only elements found in either set, but not in both. If you don't want to update the original set, use symmetric_difference() method.

**Keep All, But NOT the Duplicates**
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

**Example**
Keep the items that are not present in both sets:

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.symmetric_difference_update(y)

print(x)
print(z)

{'banana', 'google', 'cherry', 'microsoft'}
None

**Example**

Return a set that contains all items from both sets, except items that are present in both:

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple","cherry"}

z = x.symmetric_difference(y)

print(x)
print(z)

{'cherry', 'banana', 'apple'}
{'banana', 'google', 'microsoft'}

Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

**Example**
True and 1 is considered the same value:

In [45]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = y.symmetric_difference(x)
print(z)

{2, 'banana', 'google', 'cherry'}

**Python - Set Methods**

Python has a set of built-in methods that you can use on sets.

**Method	Description**

add()	Adds an element to the set

clear()	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others