**Loop Through a List**
You can loop through the list items by using a for loop:

**Example**
Print all items in the list, one by one:

In [1]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Loop Through the Index Numbers

You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

Example

Print all items by referring to their index number:

In [2]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

Example

Print all items, using a while loop to go through all the index numbers

In [3]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists:

Example

A short hand for loop that will print all items in a list:

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

**Example:**

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [7]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"] #Without list comprehension
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]#With list comprehension
 
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

**The Syntax**

newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

Condition **bold text**
The condition is like a filter that only accepts the items that valuate to True.

Example

Only accept items that are not "apple":

In [9]:
newlist = [x for x in fruits if x != "apple"]

Example

With no if statement:

In [10]:
newlist = [x for x in fruits]

**Iterable**

The iterable can be any iterable object, like a list, tuple, set etc.

**Example**

You can use the range() function to create an iterable:

In [11]:
newlist = [x for x in range(10)]

Same example, but with a condition:


**Example**

Accept only numbers lower than 5:

In [12]:
newlist = [x for x in range(10) if x < 5]

**Expression**

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

**Example**

Set the values in the new list to upper case:

In [13]:
newlist = [x.upper() for x in fruits]

You can set the outcome to whatever you like:

Example

Set all values in the new list to 'hello':

In [14]:
newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

Example

Return "orange" instead of "banana":

In [15]:
newlist = [x if x != "banana" else "orange" for x in fruits]

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

**Sort List Alphanumerically**

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [16]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Example

Sort the list numerically:

In [17]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Sort Descending

To sort descending, use the keyword argument reverse = True:

Example

Sort the list descending:

In [18]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

Example

Sort the list descending:

In [19]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

**Copy a List**

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

Example

Make a copy of a list with the copy() method:

In [20]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method list().

Example

Make a copy of a list with the list() method:

In [21]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

**Join Two Lists**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [22]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

Example

Append list2 into list1:

In [23]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

Example

Use the extend() method to add list2 at the end of list1:

In [24]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**List Methods**

Python has a set of built-in methods that you can use on lists.

**Method	Description**

append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list