**List**

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [1]:
mithai=['halva','kheer','jalebi','gulab jamun']
mithai

['halva', 'kheer', 'jalebi', 'gulab jamun']

In [2]:
type(mithai)

list

**Index Operator**

In [3]:
mithai[0]

'halva'

In [4]:
mithai[1]

'kheer'

In [5]:
mithai[-1]

'gulab jamun'

**List Slicing Using Range Index**

In [6]:
mithai[1:3]

['kheer', 'jalebi']

In [7]:
mithai[:2]

['halva', 'kheer']

In [8]:
mithai[2:]

['jalebi', 'gulab jamun']

In [9]:
mithai[-4:]

['halva', 'kheer', 'jalebi', 'gulab jamun']

**len() function**

In [10]:
len(mithai)

4

**in operator**

In [11]:
'halva' in mithai

True

In [12]:
'samosa' in mithai

False

**append and insert functions**

In [13]:
mithai.append('laddu')
mithai

['halva', 'kheer', 'jalebi', 'gulab jamun', 'laddu']

In [14]:
mithai.insert(2,'kulfi')
mithai

['halva', 'kheer', 'kulfi', 'jalebi', 'gulab jamun', 'laddu']

**Adding two lists**

In [15]:
tikha=['samosa','sev']
tikha

['samosa', 'sev']

In [16]:
food=mithai+tikha
food

['halva', 'kheer', 'kulfi', 'jalebi', 'gulab jamun', 'laddu', 'samosa', 'sev']

In [17]:
mithai+'sev'

TypeError: ignored

**List Items**
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**Changeable**
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

**Allow Duplicates**

Since lists are indexed, lists can have items with the same value:

Example

Lists allow duplicate values:

In [18]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**List Length**
To determine how many items a list has, use the len() function:

**Example**
Print the number of items in the list:

In [19]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

**List Items - Data Types**

List items can be of any data type:

**Example**

String, int and boolean data types:

A list can contain different data types:

**Example**
A list with strings, integers and boolean values:

In [20]:
list1 = ["abc", 34, True, 40, "male"]

In [21]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

**type()**
From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>
**Example**

What is the data type of a list?

In [22]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

**The list() Constructor**
It is also possible to use the list() constructor when creating a new list.

**Example**
Using the list() constructor to make a List:

In [23]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

**List** is a collection which is ordered and changeable. Allows duplicate members.

**Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

**Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

**Dictionary** is a collection which is ordered** and changeable. No duplicate members.

**NOTE:**

**When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.**

**Python - Access List Items**

Access Items

List items are indexed and you can access them by referring to the index number:

Example

Print the second item of the list:

In [26]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

Example

Print the last item of the list:

In [27]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

**Range of Indexes**
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

**Example**
Return the third, fourth, and fifth item:

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Note:

The search will start at index 2 (included) and end at index 5 (not included).
Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

**Example**

This example returns the items from the beginning to, but NOT including, "kiwi":

In [29]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

**Example**
This example returns the items from "cherry" to the end:

In [30]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

**Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the list:

**Example**

This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

**Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

**Example**

Check if "apple" is present in the list:

In [33]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# **Change Item Value**

---





To change the value of a specific item, refer to the index number:

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

Example

Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

In [35]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Example

Change the second value by replacing it with two new values:

In [36]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

**Note:** The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

**Example**

Change the second and third value by replacing it with one value:

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

**Example**
Insert "watermelon" as the third item:

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**Python - Add List Items**

---

Append Items

To add an item to the end of the list, use the append() method:

Example
Using the append() method to append an item:

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange","abhsvsv")
print(thislist)

TypeError: ignored

**Insert Items**

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

**Example**

Insert an item as the second position:

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Extend List**

To append elements from another list to the current list, use the extend() method.

**Example**

Add the elements of tropical to thislist:

In [41]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The elements will be added to the end of the list.

Add Any Iterable

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

**Example**

Add elements of a tuple to a list:

In [42]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Python - Remove List Items**

---

Remove Specified Item
The remove() method removes the specified item

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**Remove Specified Index**
The pop() method removes the specified index.

**Example**
Remove the second item:

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

**Example**
Remove the last item:

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

**Clear the List**
The clear() method empties the list.

The list still remains, but it has no content.

**Example**
Clear the list content:

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]