
**Python Indentation**


Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

In [ ]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: ignored

**Comments**

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [ ]:
print("Hello, World!") #This is a comment

Hello, World!

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

**Multi Line Comments**

Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

 you can use a multiline string.

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

**Python Variables**

**Variables**
Variables are containers for storing data values.

**Creating Variables**

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

**Casting:**

If you want to specify the data type of a variable, this can be done with casting. or change the type of variables.

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

**Get the Type:**

You can get the data type of a variable with the type() function.

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

**Single or Double Quotes.**

String variables can be declared either by using single or double quotes:

In [ ]:
x = "John"
# is the same as
x = 'John'

**Case-Sensitive**

Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

**Python - Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

**Rules for Python variables:**

A variable name must start with a letter or the underscore character.

A variable name cannot start with a number.

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

Variable names are case-sensitive (age, Age and AGE are three different variables).

A variable name cannot be any of the Python keywords.

In [ ]:
#legal variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#illegal variable names
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: ignored

**Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**

Each word, except the first, starts with a capital letter:

In [ ]:
myVariableName = "John"

**Pascal Case**

Each word starts with a capital letter:

In [ ]:
MyVariableName = "John"

**Snake Case**

Each word is separated by an underscore character:

In [ ]:
my_variable_name = "John"

**Python Variables - Assign Multiple Values**

Python allows you to assign values to multiple variables in one line:

**Many Values to Multiple Variables**

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**One Value to Multiple Variables**

And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection:**

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Python - Output Variables:**

The Python print() function is often used to output variables.

In [ ]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

**For numbers, the + character works as a mathematical operator:**

In [ ]:
x = 5
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x = 5
y = "John"
print(x, y)

5 John

**Python - Global Variables**:

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

**Example:** Create a variable outside of a function, and use it inside the function

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**Example**

Create a variable inside a function, with the same name as the global variable

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome