**Built-in Data Types**

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

**Getting the Data Type**

You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x1 = "Hello World"  #str
x2 = 20  #int
x3 = 20.5	#float	
x4 = 1j	#complex	
x5 = ["apple", "banana", "cherry"]	#list	
x6 = ("apple", "banana", "cherry")	#tuple		
x8 = {"name" : "John", "age" : 36}	#dict	
x9 = {"apple", "banana", "cherry"}	#set	
x11 = True	#bool	
x12 = b"Hello"  #	bytes	
x13 = bytearray(5)	#bytearray	
x14 = memoryview(bytes(5))	#memoryview	
x15 = None

print(x1,x2,x3,x4,x5,x6,x8,x9,x11,x12,x13,x14,x15)

Hello World 20 20.5 1j ['apple', 'banana', 'cherry'] ('apple', 'banana', 'cherry') {'name': 'John', 'age': 36} {'banana', 'cherry', 'apple'} True b'Hello' bytearray(b'\x00\x00\x00\x00\x00') <memory at 0x7f9af9b01f40> None

**Setting the Specific Data Type**
If you want to specify the data type, you can use the following constructor functions:

In [ ]:
x = str("Hello World")	#str	
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry")) #tuple
x = dict(name="John", age=36)	#dict	
x = set(("apple", "banana", "cherry")) #set

**Python Numbers**

There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int:**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Note: You cannot convert complex numbers into another number type.**

**Random Number**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random

print(random.randrange(1, 10))

3

**Casting:**

Casting in python uses inbuilt functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

**Integers:**

In [1]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

print(type(z))

1
2
3
<class 'int'>

**Floats:**

In [2]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
test = "4.2"

print(x)
print(y)
print(z)
print(w)

print(type(test))
print(type(w))

1.0
2.8
3.0
4.2
<class 'str'>
<class 'float'>

Strings :

In [3]:
x = str("sample") # x will be 'sample'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'


print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

sample
2
3.0
<class 'str'>
<class 'str'>
<class 'str'>